<app-nav-readers></app-nav-readers>
<div class="page">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h2>Reviews</h2>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="reviews">
        <div class="friendReviews">
            <div class="review" *ngFor="let review of filterReviews">
                <mat-card>
                    <mat-card-header>
                        <img src={{review.userId.image}}>
                        <a class="reader">{{review.userId.name}}</a>
                    </mat-card-header>
                    <mat-card-content>Simple card</mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>



</div>
<div *ngIf="isLoading" class="overlay">
    <mat-spinner diameter="50"></mat-spinner>
</div>