<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon class="toggleMenu" (click)="opened=!opened" [ngClass]="{'active': opened}">
                <ng-container *ngIf="!opened">menu</ng-container>
                <ng-container *ngIf="opened">close</ng-container>
            </mat-icon>
            <h2>My books</h2>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container >
        <mat-sidenav [(opened)]="opened" mode="side">
                <br>
                <div class="searchMyBooks">
                    <mat-form-field appearance="fill" class="searchBar">
                        <input type="text" matInput placeholder="Search in my books by title" [formControl]="searchControl" [matAutocomplete]="auto" >
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let book of filteredAllBooks" [value]="book.title">
                                {{ book.title }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <mat-divider></mat-divider>
                <app-ratings-filter></app-ratings-filter>
                <mat-divider></mat-divider>
                <app-genre-filter></app-genre-filter>
                <mat-divider></mat-divider>
                <app-reading-challenge-widget></app-reading-challenge-widget>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-tab-group>
                <mat-tab label="All">
                    <div class="all-container">
                        <div class="all Book" *ngFor="let book of filteredAllBooks">
                            <div class="cover">
                                <img src="{{book.image}}">
                            </div>
                            <div class="description">
                                <h2 class="title">{{book.title}}</h2>
                                <span class="author">By {{book.author}}</span><br>
                                <span class="stars" *ngFor="let star of getStars(book.averageRating)" class="fa fa-star checked"></span>
                                <p class="plot">{{book.description}}</p>
                            </div>                      
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Current">
                    <div class="current-container">
                        <div class="current Book" *ngFor="let book of filteredCurrentBooks">
                            <div class="cover">
                                <img src="{{book.bookId.image}}">
                            </div>
                            <div class="description">
                                <h2 class="title">{{book.bookId.title}}</h2>
                                <span class="author">By {{book.bookId.author}}</span><br>
                                <span class="stars" *ngFor="let star of getStars(book.bookId.averageRating)" class="fa fa-star checked"></span>
                                <p class="plot">{{book.bookId.description}}</p>
                            </div>
                            <div class="buttonsContainer">
                                <button mat-fab extended color="accent">
                                    <mat-icon>check_circle</mat-icon>
                                    Mark as finished
                                </button>
                                <button mat-fab extended color="accent">
                                    <mat-icon>book</mat-icon>
                                    Update progress
                                </button>       
                            </div>                      
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="To be read">
                    <div class="to-be-read-container">
                        <div class="tbr Book" *ngFor="let book of filteredTbrBooks">
                            <div class="cover">
                                <img src="{{book.image}}">
                            </div>
                            <div class="description">
                                <h2 class="title">{{book.title}}</h2>
                                <span class="author">By {{book.author}}</span><br>
                                <span class="stars" *ngFor="let star of getStars(book.averageRating)" class="fa fa-star checked"></span>
                                <p class="plot">{{book.description}}</p>
                            </div>
                            <div class="buttonsContainer">
                                <button mat-fab extended color="accent">
                                    <mat-icon>check_circle</mat-icon>
                                    Mark as finished
                                </button>
                                <button mat-fab extended color="accent">
                                    <mat-icon>book</mat-icon>
                                    Update progress
                                </button>       
                            </div>                      
                        </div>
                    </div>                
                </mat-tab>
                <mat-tab label="Finished">
                    <div class="finished-container">
                        <div class="finished Book" *ngFor="let book of filteredFinishedBooks">
                            <div class="cover">
                                <img src="{{book.bookId.image}}">
                            </div>
                            <div class="description">
                                <h2 class="title">{{book.bookId.title}}</h2>
                                <span class="author">By {{book.bookId.author}}</span><br>
                                <span class="stars" *ngFor="let star of getStars(book.bookId.averageRating)" class="fa fa-star checked"></span>
                                <p class="plot">{{book.bookId.description}}</p>
                            </div>                      
                        </div>
                    </div> 
                </mat-tab>
            </mat-tab-group>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
