.page{
    margin:0px;
    padding: 0;
    height: calc(100vh - 60px - 60px); //altura sin el footer ni el nav
    .mat-toolbar{
        height: 8%;
        background-color: "primary";
        color: white;
        display: flex;
        align-items:center;
    }
    .mat-sidenav-container{
        height: 92%;
    }
}
h2{
    margin: 0;
}
.mat-expansion-panel{
    background-color: transparent;
    box-shadow: none;
    margin: 0;
}

.mat-sidenav {
    width: 20%;
}
::ng-deep .mat-sidenav{
    background-color: #fae5df;
}

.mat-icon {
    color: white;
    margin:5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.active {
        transform: rotate(180deg);
    }
}

.searchBar {
    width: 100%;
}
.searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
}
.mat-divider{
    margin-bottom: 20px;
}
/*Content*/
.current-container, .all-container, .to-be-read-container, .finished-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .current, .all, .tbr, .finished {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        box-shadow: 2px 2px 5px grey;
        max-width: 800px;
        width: 100%;
        .cover {
            display: flex;
            align-items: center;
            img {
                width: 100px;
                height: auto;
                margin-right: 20px;
            }
        }
        .description {
            flex: 1;
            h2 {
                margin: 0;
                font-size: 24px;
            }
            .author {
                font-size: 18px;
                font-weight: bold;
            }
            .stars {
                color: gold;
                font-size: 16px;
                margin-right: 5px;
            }
            .plot {
                margin-top: 10px;
                font-size: 16px;
                text-align: justify;
                &.collapsed {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
                &.expanded {
                    overflow: auto;
                }
            }
            .toggle {
                margin-top: 10px;
                text-align: right;
                cursor: pointer;
            }
        }
    }
}
.buttonsContainer{
    display: flex;
    justify-content:start;
    align-items: start;
    flex-direction: column;
}


/*Intento galería*/

@media (max-width: 599px) {
    .mat-sidenav-container, .toggleMenu {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 899px) {
    .mat-sidenav-container, .toggleMenu {
        display: none;
    }
}
