<app-nav-authors></app-nav-authors>
<div class="row">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h2>My profile</h2>
        </mat-toolbar-row>
      </mat-toolbar>
    <div class="col-md-6 form-container">
        <form [formGroup]="bookForm">
            <h1>Tell us more about your book</h1>
            <mat-form-field>
                <mat-label>Enter the title</mat-label>
                    <input matInput placeholder="Title" formControlName="title"/>
                <mat-error *ngIf="bookForm.get('title').hasError('required')">
                    Title is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter the genre</mat-label>
                    <input matInput placeholder="Genre" formControlName="genre"/>
                <mat-error *ngIf="bookForm.get('genre').hasError('required')">
                    Genre is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter the genre</mat-label>
                    <input type="date" matInput placeholder="Date" formControlName="date"/>
                <mat-error *ngIf="bookForm.get('date').hasError('required')">
                    Genre is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Describe your book</mat-label>
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
                <mat-error *ngIf="bookForm.get('description').hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter the number of pages</mat-label>
                <input matInput type="number" placeholder="Pages" formControlName="pages"/>
                <mat-error *ngIf="bookForm.get('pages').hasError('required')">
                    Pages is required
                </mat-error>
                <mat-error *ngIf="bookForm.get('pages').hasError('min')">
                    The minimum value is 1
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter the image</mat-label>
                <input matInput placeholder="Image" formControlName="image"/>
                <mat-error *ngIf="bookForm.get('image').hasError('required')">
                    Image is required
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="bookForm.invalid">Save</button>
        </form>
    </div>
    <div class="col-md-6 image-container">
        <img src="https://st4.depositphotos.com/3215143/22655/v/600/depositphotos_226555000-stock-illustration-vector-illustration-writer-desktop-typewriter.jpg" alt="Book Cover Image" class="img-fluid">
    </div>
</div>