<div class="ratings">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-list-item>
                    Ratings
                </mat-list-item>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let rating of ratings; let i = index">
                <mat-checkbox (change)="rating.checked = $event.checked">
                    {{rating.name}}
                </mat-checkbox>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
