.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(5, 193, 196);
    background: linear-gradient(135deg, #f38b7b 23%, #3b3da7 100%);
}

mat-card{
    position: absolute;
    width: 900px;
    height: 550px;
    border-radius: 30px;
    background-color: white;

}

.cardContent{
    width: 100%;
    height: 100%;
    display: flex;

}
.forms{
    width: 50%;
    height: 100%;
}

mat-tab{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information{
    width: 50%;
    height: 100%;
}

.title{
    height: 81px;
    width: 100%;
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    >div>h1{
        color: #ed7966;
    }
}

mat-card-content{
    height: 100%; 
}
mat-tab-group{
    height: 100%;
}
.loginForm{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    >form{
        height: 100%;
    }
}
mat-form-field{
    width: 300px;
}

.imagen{
    height: 449px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.linkAuthor{
    margin-top: 10px;
}
img{
    width: 100%;
    height: 80%;
}

mat-error{
    font-size: small;
}
.login-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.google-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

