<div class="page">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <h2>Add friends</h2>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="search">
      <mat-form-field >
        <mat-label>Search friends</mat-label>
        <input matInput [(ngModel)]="searchValue" (input)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchValue" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="table-container mat-elevation-z8">
      <button mat-button color="primary" class="add-friend-button" routerLink="/readers/friends">
        <mat-icon>people</mat-icon>See my friends
      </button>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
    
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile picture</th>
          <td mat-cell *matCellDef="let reader">
            <img src="{{reader.image }}">
          </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let reader">
            {{ reader.name }}
          </td>
        </ng-container>
    
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let reader">@{{ reader.user }}</td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let reader">
            {{ reader.email }}
          </td>
        </ng-container>
    
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
          <td mat-cell *matCellDef="let reader">{{ reader.city }}</td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let reader">
            <button mat-button color="warn" (click)="action(reader, reader._id)">
              {{chooseAction(reader,reader._id)}}
            </button>            
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr *matNoDataRow>
          <td colspan="6" class="mat-column-actions">No results found</td>
        </tr>
    
      </table>
    </div>
  </div>
  